In [188]:
import pandas as pd
import numpy as np

test= pd.read_csv('mower_market_snapshot.csv', sep = ';')
test

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [123]:
print(test['prod_cost'].describe())
print(test['prod_cost'].shape)

count     1381
unique    1333
top          0
freq        20
Name: prod_cost, dtype: object
(1399,)

In [147]:
def null(dataframe):
    return pd.isnull(dataframe)
display(null(test).sum())

capacity           0
failure_rate       0
id                 0
margin             0
price              0
prod_cost         18
product_type       0
quality            0
warranty           0
market_share       0
attractiveness     0
dtype: int64

In [173]:
test = test.fillna(test['prod_cost'].mean)

In [129]:
test.warranty.unique()

array([3, 2, 1])

In [186]:
warranty = test[["warranty"]]

print(warranty)

      warranty
0            3
1            3
2            3
3            3
4            3
...        ...
1394         1
1395         1
1396         1
1397         1
1398         1

[1399 rows x 1 columns]

In [194]:
test["warranty"] = test["warranty"].str[0].astype(int)

In [195]:
test.loc[test['price'] < 300 , 'price'] = 0-300

In [196]:
def cprice(price):
    if price <= 301:
        return '0-300'
    elif (price >= 300) & (price <= 500):
        return '301 - 500'
    elif price >= 501:
        return '500++'
    
test['price'] = test['price'].map(cprice)

In [189]:
test

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [190]:
def ctype(product_type):
    if product_type =='auto-portee' :
        return 1    
    if product_type =='electrique' :
        return 2   
    if product_type =='essence' :
        return 3

test['product_type'] = test['product_type'].map(ctype)

In [197]:
test.groupby(['price']).first()

,capacity,failure_rate,id,margin,prod_cost,product_type,quality,warranty,market_share,attractiveness
price,,,,,,,,,,
0-300,25.136228,0.044026,19549,618.616295,0,1,Medium,3,0.008874,0.907834
301 - 500,15.627623,0.041714,19448,657.152001,-64,1,Low,3,0.006839,0.699600
500++,10.492623,0.042528,18377,633.766584,195.03551928211797,1,Low,3,0.006360,0.650648

In [210]:
test["auto-portee"]=0
test["electrique"]=0
test["essence"]=0

test.loc[test["product_type"]==1,"auto-portee"]=1
test.loc[test["product_type"]==2,"electrique"]=1
test.loc[test["product_type"]==3,"essence"]=1

test.loc[:,['essence' , 'auto-portee' ,'electrique']]

      essence  auto-portee  electrique
0           0            1           0
1           0            1           0
2           0            1           0
3           0            1           0
4           0            1           0
...       ...          ...         ...
1394        1            0           0
1395        1            0           0
1396        1            0           0
1397        1            0           0
1398        1            0           0

[1399 rows x 3 columns]