In [243]:
import pandas as pd
import numpy as np

test= pd.read_csv('mower_market_snapshot.csv', sep = ';')
test

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [227]:
print(test['prod_cost'].describe())
print(test['prod_cost'].shape)

count     1381
unique    1333
top          0
freq        20
Name: prod_cost, dtype: object
(1399,)

In [228]:
def null(dataframe):
    return pd.isnull(dataframe)
display(null(test).sum())

capacity           0
failure_rate       0
id                 0
margin             0
price              0
prod_cost         18
product_type       0
quality            0
warranty           0
market_share       0
attractiveness     0
dtype: int64

In [229]:
test = test.fillna(test['prod_cost'].mean)

In [234]:
def uniqueWar():
    return test.warranty.unique()

print(uniqueWar())

[3 2 1]

In [233]:
warranty = test[["warranty"]]

print(warranty)

      warranty
0            3
1            3
2            3
3            3
4            3
...        ...
1394         1
1395         1
1396         1
1397         1
1398         1

[1399 rows x 1 columns]

In [244]:
test["warranty"] = test["warranty"].str[0].astype(int)

In [235]:
test.loc[test['price'] < 300 , 'price'] = 0-300

In [252]:
def cprice(price):
    if price <= 301:
        return '0-300'
    elif (price >= 300) & (price <= 500):
        return '301 - 500'
    elif price >= 501:
        return '500++'
    
test['price'] = test['price'].map(cprice)

TypeError: '<=' not supported between instances of 'str' and 'int'

In [253]:
test

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,auto-portee,electrique,essence
0,10.492623,0.042528,18377,633.766584,500++,195.03551928211797,1,Low,3,0.006360,0.650648,1,0,0
1,20.273730,0.037896,19363,731.576817,500++,151.31809934886763,1,Low,3,0.006840,0.699792,1,0,0
2,20.190457,0.039111,19641,741.218202,500++,178.13731921134948,1,Low,3,0.006179,0.632129,1,0,0
3,27.220131,0.041303,18728,654.255635,500++,162.82946157588628,1,Low,3,0.007925,0.810730,1,0,0
4,16.370911,0.037938,18722,703.094527,500++,141.48693796090603,1,Medium,3,0.007406,0.757614,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,0-300,11.498540481074583,3,Medium,1,0.000973,0.513126,0,0,1
1395,59.356058,0.253694,18663,64.014543,0-300,11.380588736668567,3,Low,1,0.001038,0.547739,0,0,1
1396,67.865222,0.228935,19169,62.132035,500++,unknown,3,Low,1,0.001243,0.655622,0,0,1
1397,66.855435,0.244948,18946,58.697122,0-300,9.794196773761458,3,Low,1,0.001644,0.867537,0,0,1
1398,54.712713,0.177143,19017,64.259212,0-300,10.696216086742934,3,Low,1,0.001022,0.538969,0,0,1

In [248]:
def ctype(product_type):
    if product_type =='auto-portee' :
        return 1    
    if product_type =='electrique' :
        return 2   
    if product_type =='essence' :
        return 3

test['product_type'] = test['product_type'].map(ctype)
test.groupby(['product_type']).first()

,capacity,failure_rate,id,margin,price,prod_cost,quality,warranty,market_share,attractiveness
product_type,,,,,,,,,,
1,10.492623,0.042528,18377,633.766584,500++,195.03551928211797,Low,3,0.006360,0.650648
2,31.897593,0.092226,19620,263.227921,301 - 500,102.99756784515532,Low,2,0.002938,0.765499
3,67.502725,0.214099,19615,62.182262,0-300,11.976239018890924,Medium,1,0.001328,0.700719

In [259]:
test.groupby(['price']).first()

,capacity,failure_rate,id,margin,prod_cost,product_type,quality,warranty,market_share,attractiveness,auto-portee,electrique,essence,isEssence,isElectrique,isAutoPortee
price,,,,,,,,,,,,,,,,
0-300,25.136228,0.044026,19549,618.616295,0,1,Medium,3,0.008874,0.907834,1,0,0,False,False,True
301 - 500,15.627623,0.041714,19448,657.152001,-64,1,Low,3,0.006839,0.699600,1,0,0,False,False,True
500++,10.492623,0.042528,18377,633.766584,195.03551928211797,1,Low,3,0.006360,0.650648,1,0,0,False,False,True

In [258]:
test.loc[test['product_type']=='auto-portee','product_type']=1
test.loc[test['product_type']=='electique','product_type']=2
test.loc[test['product_type']=='essence','product_type']=3
test["product_type"].unique()
#QUESTION 11
test=test.assign(isEssence=False)
test=test.assign(isElectrique=False)
test=test.assign(isAutoPortee=False)
test.loc[test["product_type"]==1,"isAutoPortee"]=True
test.loc[test["product_type"]==2,"isElectrique"]=True
test.loc[test["product_type"]==3,"isEssence"]=True